<div class="tabs">
  {{#each data}}
  <div class="tab" onclick="openTab(event, {{@index}})">
    {{@key}}
  </div>
  {{/each}}
</div>

{{#each data}}
<div class="camp" data-tab="{{@index}}">
  <table class="order-column stripe">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Adres</th>
        <th>Geslacht</th>
        <th>Geboortedatum</th>
        <th>Leeftijd</th>
        <th>Kamp</th>
        <th>Dieet</th>
        <th>Gezondheid</th>
        <th>Opmerkingen</th>
        <th>Van/tot</th>
        <th>Opstap/uitstap</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <td>{{this.naam}}</td>
        <td>{{this.adres}}</td>
        <td>{{this.geslacht}}</td>
        <td>{{this.geboorteDatum}}</td>
        <td>{{this.leeftijd}}</td>
        <td>{{this.vakantie}}</td>
        <td>{{this.dieet}}</td>
        <td>{{this.gezondheid}}</td>
        <td>{{this.comments}}</td>
        <td>{{this.vertrek_terug}}</td>
        <td>{{this.opstap_uitstap}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/each}}
<script>
  function openTab(evt, index) {
    const camps = document.querySelectorAll(".camp");
    for (let i = 0; i < camps.length; i++) {
      camps[i].style.display = "none";
    }

    const tabs = document.querySelectorAll(".tab");
    for (i = 0; i < camps.length; i++) {
      tabs[i].className = tabs[i].className.replace(" active", "");
    }

    document.querySelector(`[data-tab="${index}"]`).style.display = "block";
    evt.currentTarget.className += " active";
  }

  $(document).ready(function () {
    $('table').DataTable({
      paging: false
    });

    openTab(0);
  });
</script>